body { 
font: Ariel;
background-color:#EAEDCC;
  background-size:1500px 900px;
font-weight:200;
font-style:italic;

}
header {
background-color:black;
  color: #5D4DAB;
  padding:35px 35px;
  align:center;
  font-weight:100;
  text-align:center; 
  text-transform:uppercase;
  height:400px;
 
}



img {
  display:block;
  height:205px;
  padding:60px 60px;
  width:600px;
  margin-left:auto;
  margin-right:auto;

}
ul{
  list-style-type:none;
 
  margin:0;
  padding:0;
  width:200px;
  

}

li a {
  display:iBLOCK;
  color:#000;
  padding: 8px 16px;
  text-decoration:none;
 ;
}
li a:hover {
  background-color:#555;
  color:white;

}
.intro {
  color:pink;
  font-style:oblique;
  font-size:5px;
}
#container {

  
  text-weight:100;

}
#cakes{
float:left;
background-color:chocolate;
width:40%;  
padding:5px 5px;
}
#pricing {
  float:left;
  width:40%;
  background-color:beige;
  padding:5px 5px;
}
footer {
  background-color:grey;
  align:right;
  color:black;
}
#footer{
clear:both;
}
