body { 
font: Ariel;
background-color:#EAEDCC;
  background-size:1500px 900px;
font-weight:200;
font-style:italic;

}
header {
background-color:#BFE3DC;
  color: #5D4DAB;
  padding:35px;
  align:center;
  font-weight:100;
  text-align:center; 
  text-transform:uppercase;
  height:150px;
 
}
nav{
  list-style-type:none;
  background-color:#79C1D7;
  margin:0;
  padding:0;
  width:200px;
  border-style:groove;
  border_width:10px;
  border-color:red;
}

li a {
  display:iBLOCK;
  color:#000;
  padding: 8px 16px;
  text-decoration:none;
  float:RIGHT;
}
li a:hover {
  background-color:#555;
  color:white;

}
.intro {
  color:pink;
  font-style:oblique;
  font-size:5px;
}
#container {

  
  text-weight:100;

}
#cakes{
float:left;
background-color:chocolate;
width:40%;  
padding:5px 5px;
}
#pricing {
  float:left;
  width:40%;
  background-color:beige;
  padding:5px 5px;
}
footer {
  background-color:grey;
  align:right;
  color:black;
}
#footer{
clear:both;
}
