body { 
font: Ariel;
background-color:#EAEDCC;
  background-size:1500px 900px;
font-weight:200;
font-style:italic;99

}
header {
background-color:PINK;
  color: #5D4DAB;
  padding:35px 35px;
  align:center;
  font-weight:100;
  text-align:center; 
  text-transform:uppercase;
  height:400px;
 
}



img {
  display:block;
  height:215px;
  padding:60px 60px;
  width:405px;
  margin-left:auto;
  margin-right:auto;

}
ul{
  list-style-type:none;
 
  margin:0;
  padding:0;
  width:200px;
  

}

li a {
  display:iBLOCK;
  color:#000;
  padding: 8px 16px;
  text-decoration:none;
 ;
}
li a:hover {
  background-color:#555;
  color:white;

}
.intro {
  color:pink;
  font-style:oblique;
  font-size:5px;
}
#container {

  
  text-weight:100;

}
#cakes{
float:left;
background-color:#F3DF29;
width:40%;  
padding:5px 5px;
}
#pricing {
  float:left;
  width:40%;
  background-color:beige;
  padding:5px 5px;
}
footer {
  background-color:grey;
  align:right;
  color:black;
}
#footer{
clear:both;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
